.hero {
    margin: 0px 120px;
    margin-top: 270px;
}

.hero-text{
    color: white;
    font-size: 90px;
    font-weight: 400;
    line-height: 100px;
}

.hero-explore{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-top: 70px;
    padding: 3px 4px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: yellowgreen;
    cursor: pointer;
}

.hero-arrow-img{
    width: auto;
    gap: 30px;
    height: 50px;
}

.hero-explore p{
    color: wheat;
    font-size: 20px;
    font-weight: 500;
}

.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background:yellowgreen;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange{
    background-color: white;
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play p{
    color: white;
    font-size: 19px;
}

.hero-vid-play {
    width:auto;
    height: 50px;
    cursor: pointer;
}